<div *ngFor="let team of teamsAndPlayerList; let i = index">
  <mat-expansion-panel *ngIf="i!=0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img mat-card-avatar src="{{team.logo}}">
        <h3>
          <strong>{{team.name}}</strong>
        </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="row wrap">
      <mat-card fxFlex="18%" fxFlex.sm="30%" fxFlex.md="22%" fxFlex.xs="100%" class="player" *ngFor="let player of team.players">
        <mat-card-content fxLayout="row">
            <img src="../../assets/imgs/player_avatar.png" class="player">
            <h3>{{player.name}}</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>
