<mat-toolbar class="secondary">
  <span>
    <strong>Fifa Predictor</strong>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span class="time">
   <strong>70 Days 10 Hours 35 Minutes</strong>
  </span>
</mat-toolbar>
<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/schedule']">
    <strong>Schedule</strong>
  </button>
  <button mat-button [routerLink]="['/teamsandplayers']">
    <strong>Teams & Players</strong>
  </button>
  <button mat-button [routerLink]="['/venues']">
    <strong>Venues</strong>
  </button>
  <button mat-button (click)="socialSignIn()">
    <i class="fab fa-google-plus-g fa-lg"></i> <strong>SignIn</strong>
  </button>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
