mat-card {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin: 10px;
}

.profile img{
  border-radius: 50%;
}

.profile {
  border-bottom: 1px solid gray;
  text-align: center!important;
  padding-bottom: 15px;
}

mat-card.challenges {
  padding: 0px;
}

.mat-card-avatar {
  height: 35px;
  width: 36px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 10px;
  margin-right: 10px;
}

mat-expansion-panel {
  margin: 10px;
}

mat-card.challenges mat-card-content {
  max-height: 400px!important;
  overflow-y: scroll;
}

.tab {
  height: 300px!important;
  overflow-y: scroll;
}

.team img {
  height: 80px;
}

.team {
  text-align: center;
}

.teamVote {
  text-align: center;
}

.teamVote mat-radio-button{
  margin: 10px;
}

.against {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

table {
  border: 0px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

thead tr th{
  font-size:14px;
  font-weight:600;
  font-family:lato,sans-serif;
  text-align:left;
  padding:10px 5px;
  text-transform:uppercase;
  color:#444;
  text-align:center;
}

thead tr th:first-child, tbody tr td:first-child{
  padding:10px 0;
}

tbody tr {
  border-top: 1px solid #f0f0f0;
}

td {
  font-size:14px;
  font-weight:400;
  padding:10px 5px;
  font-family:lato,sans-serif;
  text-align:center;
  color:#444;
}

.mat-tab-body-wrapper {
  height: 300px!important;
  overflow-y: scroll!important;
}

mat-card.error {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.05) !important;
}
