<div fxLayout="column" fxFlex="100%">
  <div fxLayout="row" fxLayout.xs="column" class="options" fxFlexAlign="center">
    <mat-card fxFlex="50%" class="options shadow-effect">
      <mat-form-field>
        <mat-select placeholder="Team" [(ngModel)]="selectedTeam" (change)="onTeamSelect()">
          <mat-option *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card fxFlex="50%" class="options shadow-effect">
      <mat-form-field>
        <mat-select placeholder="Venue" [(ngModel)]="selectedVenue" (change)="onVenueSelect()">
          <mat-option *ngFor="let venue of venues" [value]="venue">
            {{venue.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>

  <div *ngIf="filteredFixtureList.length">
    <div *ngFor="let fixture of filteredFixtureList">
    <h2 class="header">
      <strong>
        {{fixture.name}}, {{fixture.date}}
      </strong>
    </h2>
    <mat-card class="fixture"  class="home-fixture-cards shadow-effect">
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="30%" fxLayout="row">
            <div fxFlex="40%" class="team">
              <img src="{{fixture.team1logo}}">
              <p>{{fixture.team1}}</p>
            </div>
            <div fxFlex="20%" class="against">
              VS
            </div>
            <div fxFlex="40%" class="team">
              <img src="{{fixture.team2logo}}">
              <p>{{fixture.team2}}</p>
            </div>
          </div>
          <div fxFlex="30%" class="text-center">
            <p>
              <i class="fas fa-calendar-alt"></i> <strong> {{fixture.countDown}}</strong>
            </p>
            <p>
              <strong><i class="fas fa-map-marker"></i>
                {{fixture.stadium}}</strong>
            </p>
            <p>
              <strong>{{fixture.city}}</strong>
            </p>
          </div>
          <div fxFlex="15%" fxFlexOffset="15%">
            <div *ngIf="canVote && !(userVotedList.indexOf(fixture.name) > -1) && votingResultAvailable">
              <strong>Voting Ends in {{fixture.days}}D {{fixture.hours}}H {{fixture.minutes}}M {{fixture.seconds}}S</strong>
              <mat-radio-group fxLayout="column" [(ngModel)]="fixture.name">
                <mat-radio-button value="team1" fxFlex="50%" class="radio" checked="true">{{fixture.team1}}</mat-radio-button>
                <mat-radio-button value="team2" fxFlex="50%" class="radio">{{fixture.team2}}</mat-radio-button>
              </mat-radio-group>
              <button mat-raised-button color="accent" style="margin-left: 15px;" (click)="vote(fixture)">
                <strong>Vote Now</strong>
              </button>
              <mat-progress-spinner *ngIf="!isVotingDone" mode="indeterminate" diameter="20" color="primary"></mat-progress-spinner>
            </div>
            <div *ngIf="(userVotedList.indexOf(fixture.name) > -1) && votingResultAvailable">
              <p><strong>{{fixture.team1}}: {{fixture.team1Votes}} votes, ( {{fixture.team1percent}} ) </strong></p>
              <p><mat-progress-bar mode="determinate" value="{{fixture.team1progessValue}}"></mat-progress-bar></p>
              <p><strong>{{fixture.team2}}: {{fixture.team2Votes}} votes, ( {{fixture.team2percent}} )</strong></p>
              <p><mat-progress-bar mode="determinate" value="{{fixture.team2progessValue}}"></mat-progress-bar></p>
              <p><strong>Total Voters {{fixture.totalVotes}}</strong></p>
            </div>
            <mat-progress-spinner *ngIf="!votingResultAvailable" mode="indeterminate" diameter="30" color="accent"></mat-progress-spinner>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
  <div *ngIf="!filteredFixtureList.length" class="text-center">
    <span>No fixture for the selected filters</span>
  </div>
</div>


