.mat-toolbar-row, .mat-toolbar-single-row.secondary {
  color: #3f51b5;
  font-size: 30px;
}

.time {
  font-size: 20px;
}

mat-card.schedule {
  margin: 5px;
}

mat-card {
  border-left: 5px solid blue;
}

mat-card-content {
  margin: 20px;
}

mat-card-content p {
  font-size: 15px!important;
}
mat-card img {
  height: 100px;
}

.against {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

.team {
  text-align: center;
}

.matchDetails {
  text-align: center;
}

.text-center {
  text-align: center;
}

.radio {
  margin: 15px;
}

.matchDetails i {
 color: green;
}

.teamName {
  color: #3f51b5;
}

.options mat-form-field {
  margin: 10px;
}

.mat-progress-bar {
  height: 12px;
}

.header {
  color: #3f51b5;
}

i {
  color: green;
}

@media only screen and (max-width: 600px) {
  mat-card img {
    height: 50px;
  }
  .against {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }
  mat-card.schedule {
    margin: 0px;
  }

}

mat-card.options {
  border: none;
  margin-right: 10px;
  padding: 5px;
  height: 73px;
  border-bottom: 5px solid blue;
}
